@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Header = "Sarah Anderson";
}


<body>
    <!--My image of me doing something fun-->
    <img src="~/img/MyCosplay.jpeg" />
    <!--<p>This is me cosplaying at FanX.</p>-->
    <br />

    <!--What I hope to get out of IS 413-->
    <p>I hope to learn how to build web apps and find something new that interests me.</p>
    <br />

    <!--Icon-->
    <i class="material-icons">favorite</i>
    <br />

    <!--Top 3 jobs post-graduation-->
    <h2>My Top 3 Jobs:</h2>
    <ol>
        <li>Project Manager</li>
        <li>Database Administrator</li>
        <li>Network Administrator</li>
        <!--<li>Resident Cool Person</li>-->
    </ol>
    <br />

</body>
